<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuthy Blog</title>
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"  rel="stylesheet" />
</head>
<body>
    
  <%- include('./layouts/navbar'); -%>
  
  <ul class="gap-2">
    <% blogs.forEach(blog => { %>
      <li>
        <div class="content-wrapper pt-16 pb-16"> 
          <div class="max-w-full rounded-lg overflow-hidden bg-slate-700 text-gray-300 shadow-lg">
            <div class="flex flex-col md:flex-row">
              <div class="md:w-3/5 p-4 flex flex-col justify-between">
                <div>
                  <img class="object-cover w-full rounded" src="/uploads/Blogs/<%= blog.image %>" alt="Card Image">
                </div>
                <div>
                  <h3 class="text-xl font-semibold mb-2 mt-2"><%= blog.title %></h3>
                  <p class="text-sm mb-4 overflow-hidden"><%= blog.description %></p>
                </div>
                <div class="flex items-center space-x-2">
                  <img class="w-8 h-8 rounded-full object-cover" src="https://cdn4.sharechat.com/WhatsAppprofiledpboys_d7f9b06_1658641555734_sc_cmprsd_75.jpg" alt="User Profile Image">
                  <div class="flex flex-col mt-6">
                    <span class="text-sm">Elon Thy</span>
                    <span class="text-sm font-thin text-gray-500"><p>elonthy@gmail.com</p></span>
                    <p class="text-sm font-thin text-gray-500">Posted: <%= blog.createdAt %></p>
                  </div>
                </div>
                
                <div class="flex justify-start gap-16 mt-4 ml-6">
                  <div class="flex items-center space-x-2">
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                      </svg>     
                      <span class="text-sm">321 Likes</span>
                    </a>
                  </div>
                  <div class="flex items-center space-x-2">
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                      </svg>
                      <span class="text-sm">133 Comments</span>
                    </a>
                  </div>
                  <div class="flex items-center space-x-2 pt-5">
                    <a href="/blog/details/<%= blog._id %>">
                      <span class="text-sm text-gray-400">Details</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% }); %>
  </ul>
  



   
    


<%- include('./layouts/footer'); -%>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</html>
